.container {
  width: 100%;
  height: 1rem;
}

.rem1 {
  height: 1rem;
}

.rem12 {
  height: 1.2rem;
}

.rem13 {
  height: 1.3rem;
}

.rem14 {
  height: 1.4rem;
}

.rem15 {
  height: 1.5rem;
}

.rem16 {
  height: 1.6rem;
}

.rem17 {
  height: 1.7rem;
}

.rem18 {
  height: 1.8rem;
}

.rem19 {
  height: 1.9rem;
}

.rem20 {
  height: 2rem;
}
