.container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.contUser {
  width: 70%;
  height: auto;
  padding: 0.3rem;
  color: var(--color01);
  font-weight: bolder;
  border-radius: 0.5rem;
  text-align: right;
}

.contMessage {
  line-height: 140%;
  width: 70%;
  height: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: white;
  background-color: var(--color02);
}
