.page {
  width: 100%;
  min-height: calc(100dvh);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  z-index: 150;
}

.center {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  padding-bottom: 5rem;
}

.footer {
  width: 100%;
  height: auto;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.panel {
  width: 20%;
  height: 100%;
  overflow-y: scroll;
  background-color: var(--color03);
  padding: 0.5rem;
}

.conversation {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.chat {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.message {
  width: 100%;
  height: auto;
  border: 1px solid green;
}

@media screen and (min-width: 1024px) {
  /* .form {
    width: 40%;
    min-height: 100%;
    overflow-y: scroll;
  }
  .panel {
    width: 20%;
    min-height: 100%;
    overflow-y: scroll;
  } */
}
