.page {
  width: 100%;
  min-height: calc(100dvh);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.header {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  z-index: 150;
}

.center {
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}

.footer {
  width: 100%;
  height: auto;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: none;
}

.form {
  margin-top: 3rem;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3rem;
}

@media screen and (min-width: 1024px) {
  .form {
    width: 30%;
  }
}
