.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  transition: 2s all;
}

.form {
  padding-top: 1.5rem;
  width: 90%;
  padding: 2rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: relative;
}

.buttons {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.close {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border-radius: 100%;
  background-color: var(--input);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .form {
    width: 30%;
  }
}
